
.section-1{
    background-color: #1F2937;
    padding: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container{
    display:flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.header-links{
    display: flex;
}

.hero-container{
    display:flex;
}