body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.section-1 {
  background-color: #1f2937;
  padding: 0px 64px 64px 64px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.nav-links {
  display: flex;
  gap: 12px;
}

ul {
  list-style: none;
}

ul a {
  font-size: 18px;
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 800;
  margin: 0px;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0px;
}

.button {
  background-color: #3882f6;
  border-radius: 10px;
  border: 0;
  font-size: 18px;
  color: #e5e7eb;
  padding: 12px 24px;
}
