body{
    margin: 0;
    padding: 0;
}

.section-1{
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.nav-links{
    display: flex;
}

ul{
    list-style: none;
}

ul a{
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.hero h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}